:root{
  --md-primary: #136D2F;
  --md-on-primary: #FFFFFF;
  --md-primary-container: #A2F6AD;
  --md-on-primary-container: #002203;
  --md-inverse-primary: #86D992;
  --md-secondary: #4D644F;
  --md-on-secondary: #FFFFFF;
  --md-secondary-container: #CFE9D1;
  --md-on-secondary-container: #0B200D;
  --md-tertiary: #11686F;
  --md-on-tertiary: #FFFFFF;
  --md-tertiary-container: #A4EFF5;
  --md-on-tertiary-container: #012022;
  --md-error: #BE0131;
  --md-on-error: #FFFFFF;
  --md-error-container: #FEDAD8;
  --md-on-error-container: #400004;
  --md-surface: #F6FAF6;
  --md-on-surface: #191C1A;
  --md-surface-dim: #D7DBD7;
  --md-surface-bright: #F6FAF6;
  --md-surface-container-lowest: #FFFFFF;
  --md-surface-container-low: #F0F5F1;
  --md-surface-container: #EBEFEB;
  --md-surface-container-high: #E5E9E5;
  --md-surface-container-highest: #DFE3E0;
  --md-inverse-surface: #2E312E;
  --md-inverse-on-surface: #EEF2EE;
  --md-surface-variant: #DBE5DC;
  --md-on-surface-variant: #414941;
  --md-outline: #717971;
  --md-outline-variant: #BFC9C0;
  --md-scrim: #000000;
  --md-shadow: #000000;
}

@media (prefers-color-scheme: dark){
  :root:not([data-theme="light"]){
    --md-primary: #86D992;
    --md-on-primary: #003913;
    --md-primary-container: #01531F;
    --md-on-primary-container: #A2F6AD;
    --md-inverse-primary: #136D2F;
    --md-secondary: #B3CDB5;
    --md-on-secondary: #203523;
    --md-secondary-container: #364C38;
    --md-on-secondary-container: #CFE9D1;
    --md-tertiary: #88D3D9;
    --md-on-tertiary: #02363A;
    --md-tertiary-container: #034F54;
    --md-on-tertiary-container: #A4EFF5;
    --md-error: #FFB3B0;
    --md-on-error: #670116;
    --md-error-container: #920123;
    --md-on-error-container: #FEDAD8;
    --md-surface: #111411;
    --md-on-surface: #DFE3E0;
    --md-surface-dim: #111411;
    --md-surface-bright: #373A37;
    --md-surface-container-lowest: #0B0F0B;
    --md-surface-container-low: #191C1A;
    --md-surface-container: #1D201E;
    --md-surface-container-high: #282B28;
    --md-surface-container-highest: #323633;
    --md-inverse-surface: #DFE3E0;
    --md-inverse-on-surface: #2E312E;
    --md-surface-variant: #414941;
    --md-on-surface-variant: #BFC9C0;
    --md-outline: #8A938A;
    --md-outline-variant: #414941;
    --md-scrim: #000000;
    --md-shadow: #000000;
  }
}

:root[data-theme="dark"]{
  --md-primary: #86D992;
  --md-on-primary: #003913;
  --md-primary-container: #01531F;
  --md-on-primary-container: #A2F6AD;
  --md-inverse-primary: #136D2F;
  --md-secondary: #B3CDB5;
  --md-on-secondary: #203523;
  --md-secondary-container: #364C38;
  --md-on-secondary-container: #CFE9D1;
  --md-tertiary: #88D3D9;
  --md-on-tertiary: #02363A;
  --md-tertiary-container: #034F54;
  --md-on-tertiary-container: #A4EFF5;
  --md-error: #FFB3B0;
  --md-on-error: #670116;
  --md-error-container: #920123;
  --md-on-error-container: #FEDAD8;
  --md-surface: #111411;
  --md-on-surface: #DFE3E0;
  --md-surface-dim: #111411;
  --md-surface-bright: #373A37;
  --md-surface-container-lowest: #0B0F0B;
  --md-surface-container-low: #191C1A;
  --md-surface-container: #1D201E;
  --md-surface-container-high: #282B28;
  --md-surface-container-highest: #323633;
  --md-inverse-surface: #DFE3E0;
  --md-inverse-on-surface: #2E312E;
  --md-surface-variant: #414941;
  --md-on-surface-variant: #BFC9C0;
  --md-outline: #8A938A;
  --md-outline-variant: #414941;
  --md-scrim: #000000;
  --md-shadow: #000000;
}
